.o1 {
    overflow: hidden;
    height: 300px;

}

.o1 img {
    width: 1500px;
    height: 300px;
}

.o1 p {
    text-align: center;
    position: relative;
    top: -170px;

}


.ho {
    font-family: "Pinyon Script", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
}

.o22 {
    width: 100%;
    display: flex;

    height: 400px;
}

.oc {
    width: 35%;


}

.oc1 {
    width: 30%;
}

.oc2 {
    width: 35%;
}

.boxx {
    width: 300px;
    height: 300px;
    border: solid;
    border-color: rgb(212, 204, 204);
    border-width: 1px;
    margin-top: 70px;
    margin-left: 150px;



}

.boxx1 {
    width: 300px;
    height: 300px;
    border: solid;
    border-color: rgb(212, 204, 204);
    border-width: 1px;
    margin-top: 70px;
    margin-left: -50px;




}

.boxx2 {
    width: 300px;
    height: 300px;
    border: solid;
    border-color: rgb(212, 204, 204);
    border-width: 1px;
    margin-top: 70px;

    margin-left: -70px;


}

.loc {
    font-size: 80px;
    margin-left: 40px;
    margin-left: 100px;
    color: #E72463;
}

.loc1 {
    margin-top: 20px;
    text-align: center;
}

.oc3 {
    width: 100%;
    display: flex;
  
    height: 400px;
}

.oc4 {
    width: 50%;
   
    padding-top: 90px;
    padding-left: 100px;
   
}



.oc5 {
    width: 50%;
}
.text input {
    width: 400px;
    height: 40px;
    margin-top: 20px;
}
.text1 input {
    width: 400px;
    height: 40px;
    margin-top: 130px;
}
.btn{
    background-color: #E72463;
    margin-left: 100px;
}
.btn:hover{

background-color: black;
color: aliceblue;
}



