/* https://preview.themeforest.net/item/flosun-flower-shop-html5-template/full_screen_preview/29223925 */
.o1 {
    overflow: hidden;
}

.o1 img {
    width: 1500px;
    height: 300px;
}

.o1 p {
    text-align: center;
    position: relative;
    top: -170px;

}


.ho {
    font-family: "Pinyon Script", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
}

.o2 {
    width: 100%;
    display: flex;
    height: 1300px;
    overflow: hidden;
}

.oc1 {
    width: 30%;
    margin-left: 100px;

}

.oc2 {
    width: 70%;
    
}

.op1 {

    font-weight: bold;
    font-size: 25px;
}

.op2 {
    margin-top: 50px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.op3 p:hover {

    color: #E72463;
}

.op4 {
    margin-left: 10px;
    border-radius: 50px;
    border-color: bisque;
}

.op4:hover {
    border-color: #E72463;
}

.op5 {
    margin-left: 10px;
    margin-top: 15px;
    border-radius: 50px;
    border-color: bisque;
}

.op5:hover {
    border-color: #E72463;
}

.op6 {
    margin-top: 20px;
    display: flex;
   

}

.card41 img {
    width: 220px;
    height: 260px;
    margin-left: 50px;

}
.card-title{
   margin-left: 57px;
}
.card-body41{
    text-align: justify;
   
}
.star1{
    margin-left: 120px;
    color: #E72463;
}
.card-body41 p{
    margin-left: 130px;
}
.menu{
    display: flex;
}
.plus{
    margin-left: 150px;
    margin-top: 0px;
  
}
.plus h2{
    font-size: 25px;
}